# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.RData
.Rhistory
.Rproj.user/A652BD92/pcs/files-pane.pper
.Rproj.user/A652BD92/pcs/source-pane.pper
*.pper
.Rproj.user/A652BD92/sdb/per/t/3B56056A
.Rproj.user/A652BD92/sdb/per/t/3FABB22A
CVS/Entries
CVS/Entries.Extra
CVS/Entries.Extra.Old
CVS/Entries.Old
CVS/Repository
CVS/Root
shinyapps/stefanwilhelm/heatmap.dcf
*.Rproj
.Rproj.user/A652BD92/sdb/prop/8014AC2F
.Rproj.user/A652BD92/sdb/prop/FA91C022
.Rproj.user/A652BD92/sdb/prop/INDEX